*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Segoe UI Light"; /* Имя шрифта */
    src: url(../fonts/Segoe UI Light.ttf); /* Путь к файлу со шрифтом */
}

body{
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
    min-width: 1170px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1170px;
    margin: 0 auto;
    paddint-top: 78px;
}

.up-block-wrap{
    background-image: url('../images/header_photo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}
.header-wrap{
    background-color: #353f46;
    opacity: 0.85;
}
header{

    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav.main-menu{
    width: 525px;
    justify-content: space-between;
    display: flex;
}
nav.main-menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 17px;

}

nav.main-menu a:hover{
    color: #4bcaff;
    border: 2px solid #4bcaff;


}
.tagline{
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 42px;
    text-transform: uppercase;
    background-color: #4b565e;
    line-height: 1.6;
    padding: 0 20px;
    position: relative;
    top: 250px;
    letter-spacing: -3px;
}
.tagline-wrap{
    text-align: center;

}
.services-wrap, .twitter-section{
    background-color: #4bcaff;
}
.main-services-div{
    padding: 80px 0;
}
.services-wrap div.services{
    display: flex;
}
.headline{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 0.8;
    text-align: center;

}
.headline:after {
    content: "";
    border-bottom: 2px solid white;
    display: block;
    width: 45px;
}
.services{
    margin-top: 35px;
}
.services-categorie{
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 24px;
    text-transform: uppercase;
}
.who-is-wrap{
    background-image: url(../images/social_network_photo.png);
    background-position: center;
    background-repeat: no-repeat;
}