*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Segoe UI Light"; /* Имя шрифта */
    src: url(../fonts/Segoe UI Light.ttf); /* Путь к файлу со шрифтом */
}

body{
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
    min-width: 1170px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1170px;
    margin: 0 auto;
    paddint-top: 78px;
}

.up-block-wrap{
    background-image: url('../images/header_photo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}
.header-wrap{
    background-color: #353f46;
    opacity: 0.85;
}
header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.main-menu, nav.portfolio-menu{
    width: 525px;
    justify-content: space-between;
    display: flex;
}
nav.main-menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 17px;
    border: 2px solid transparent;
}


nav.main-menu a:hover, nav.portfolio-menu a:hover{
    color: #4bcaff;
    border: 2px solid #4bcaff;


}
.tagline{
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 42px;
    text-transform: uppercase;
    background-color: #4b565e;
    line-height: 1.6;
    padding: 0 20px;
    position: relative;
    top: 250px;
    letter-spacing: -3px;
}
.tagline-wrap{
    text-align: center;

}
.services-wrap, .twitter-section{
    background-color: #4bcaff;
}
.main-services-div{
    padding: 80px 0;
}
.services-wrap div.services{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}
.headline{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    text-align: center;

}
.headline:after {
    content: "";
    border-bottom: 2px solid white;
    display: block;
    width: 45px;
}

.services-categorie{
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    margin: 20px 0;
}
.column-services{
    width: 270px;
}

.services-text{
    font-size: 12px;
    font-family: "SegoeUI";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;

}
.menu-portfolio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}
.draft-font{
    color: #515f67;
}
.draft-font:after {
    content: "";
    border-bottom: 2px solid #515f67;
    display: block;
    width: 45px;
}

nav.portfolio-menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: #515f67;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 17px;
    border: 2px solid transparent;
}

.photo-gallery{
    margin-bottom: 80px;
}
.row-1, .row-2{
    display: flex;
    justify-content: space-between;
}
.row-1{
    margin-bottom: 30px;
}
.photo-gallery img:hover{
    background-color: #495259;
    opacity: 0.902;
}

.default-section-wrap{
    background-color: #515f67;
}
.default-section-info{
    float: left;
    margin: 80px 0;
}
.default-section-video{
    float: right;
    margin: 80px 0;
}
.default-section-text{
    width: 470px;
}
.default-section-text{
    margin: 40px 0;
    font-size: 14px;
    font-family: "Segoe UI";
    line-height: 1.714;


}
.default-section-info a{
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Segoe UI";
    color: #353f46;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 135px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #353f46;

}
.twitter-section .container{
    padding: 80px 0;
}
.twitter-section p{
    margin-top: 40px;
    font-size: 28px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.786;
}
.twitter-section-icon i{
    position: relative;
    bottom: 165px;
    left: 1140px;
}
.who-is-wrap{
    background-image: url(../images/social_network_photo.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}
.who-is-wrap .container{
    padding-top: 80px;
}
.who-is-left-column{
    margin-bottom: 170px;
    width: 570px;
    float: left;

}
.who-is-right-column{
    margin-bottom: 150px;
    width: 570px;
    float: right;
}
.who-is-wrap span.headline{
    display: block;
    text-align: left;
    margin-bottom: 50px;
    line-height: 40px;
}
.who-is-right-column div{
    display: inline-block;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 2px solid #ffffff;
    margin-right: 20px;
    margin-top: 40px;
}
.testimonials .container{
    padding: 80px 0;
}

.testimonials p.quote{
    margin-top: 55px;
    font-size: 28px;
    font-family: "Segoe UI";
    color: rgb(81, 95, 103);
    line-height: 1.786;
}
.testimonials p.author{
    font-size: 14px;
    font-family: "Segoe UI";
    color: rgb(75, 202, 255);
    font-weight: bold;
    line-height: 3.571;
}
.testimonials img{
    position: relative;
    bottom: 230px;
    left: 1135px;
}
.feedback{
    background-image: url(../images/feedback_photo.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 734px;
}
.feedback .container{
    padding-top: 80px;
    padding-bottom: 60px;
}
.feedback .headline{
    display: block;
    margin-bottom: 30px;
    text-align: left;
}
form label{
    font-size: 14px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
}
.feedback-right-column{
    padding-top: 15px;
    width: 535px;
    font-size: 14px;
    font-family: "SegoeUI";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.714;
    float: right;
}
.footer-wrap{
    background-color: #353f47;
    color: #515f67;
}
footer{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.copyright{
    font-size: 12px;
    font-family: "Myriad Pro";
}
footer nav a{
    font-size: 12px;
    font-family: "SegoeUI";
    color: rgb(81, 95, 103);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    text-decoration: none;
}
input{
    width: 470px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-bottom: 40px;
}
#form-button{
    width: 370px;
    background-color: #4bcaff;
    border: none;
    font-size: 14px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    margin-bottom: 0;

}
#form-button:hover{
    background-color: #42b1e0;
    opacity: 0.902;
}
textarea{
    width: 1170px;
    height: 215px;
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-bottom: 40px;
}